{% extends 'layout.html' %}

{% block title %}{% parent %} - Dashboard{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="assets/stylesheets/css/masterStyle.css">
{% endblock head %}

{% block content %}
<div ng-app="dashboardApp" >
    <div ng-view ng-init="fbImage='{{user.profilePic}}'; userBrandSlug='{{user.moltinBrandId.slug}}';  userBrand='{{user.moltinBrandId.brandID}}'; mongoUserID='{{user.uniqueUserID}}'; fbFullName='{{user.fullname}}'"></div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="dashboardApp/appDashboardBrowser.min.js"></script> 
{% endblock scripts %}
