{% extends 'layout.html' %}

{% block title %}{% parent %} - Home{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="assets/stylesheets/css/masterStyle.css">
{% endblock head %}

{% block content %}
{% parent %}
<div>
    <section class="primary-banner">
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="hide-banner"><i class="fa fa-times-circle-o fa-3x"></i></div>         
                <div class="jumbotron-container">
                <h1>BUILD. MEASURE. ITERATE.</h1>

                <h2>Play<span>ground</span> For Young Entrepreneurs</h2>
                    {% if userLoggedIn %}
                        <p><a class="btn btn-red-color" href="/dashboard#/ventures" role="button">START YOUR VENTURE - FREE!</a></p>                        
                    {% else %}
                        <p><a class="btn btn-red-color" href="/login" role="button">GET STARTED - FREE FOREVER!</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
    <!-- Hide Secondary Navbar for later 
    <section class="secondary-navbar">
        <div class="container">
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="#">Trending</a></li>
                <li role="presentation"><a href="#">New</a></li>
                <li role="presentation"><a href="#">Most Popular</a></li>
            </ul>
        </div>
    </section> -->

    
    <!-- Search bar + Products list -->
    <section class="primary-website-section">
        
    </section>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="/reactComponentsJS/appBrowser.min.js" async="async"></script>
    <script src="indexScript.min.js"></script>
{% endblock scripts %}
