<!DOCTYPE html>
<html html lang="en-us">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Work Desk Inc.{% endblock %}</title>

        {% block head %}
        <link rel="" type="image/x-icon" href="" />
        <link rel="stylesheet" href="assets/stylesheets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        {% endblock head %}
    </head>

    <body>
        <!-- NavBar begin -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand " href="/">
                        <div class={{ homeTab || "inactive" }}>
                            <i class="fa fa-home"></i>
                            <span class={{ homeTab || "inactive" }}>Home</span>
                        </div>
                    </a>
                    <a class="navbar-brand " href="/shop">
                        <div class={{ shopTab || "inactive" }}>
                            <i class="fa fa-shopping-cart"></i>
                            <span class={{ shopTab || "inactive" }}>Shop</span>
                        </div>
                    </a>
                    <a class="navbar-brand " href="/handpicked">
                        <div class={{ handpickedTab || "inactive" }}>
                            <i class="fa fa-star"></i>
                            <span class={{ handpickedTab || "inactive" }}>Hand-picked</span>
                        </div>
                    </a>
                </div>
                
    <div class="navbar-middle">
      <a href="/">
          <img class="navbar-brand-logo profile-thumbnail" src="assets/images/logodesigndesk.png" />
        </a>
        
        <div class="mobile-menu">
            {% if userLoggedIn %}
            <ul class="nav nav-pills">
                <li>
                    <div data-toggle="tooltip" title="Start your venture here!" class="mobile-create-btn">
                        <a href="/dashboard#/ventures"><button type="button" class="btn btn-red-color"><i class="fa fa-plus-circle"></i></button></a>
                    </div>
                </li>
                <li>
                    <div class="profile-thumbnail-wrapper">
                        <a  href="/profile?user={{userID}}">
                            <img class="profile-thumbnail" src="{{ user.profilePic }}" />
                        </a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-caret-down">
                        </i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/profile?user={{userID}}">Your Profile</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav nav-pills">
                <li>
                    <div data-toggle="tooltip" title="Start your venture here!" class="mobile-logged-out-create-btn">
                        <a href="/dashboard#/ventures"><button type="button" class="btn btn-red-color"><i class="fa fa-plus-circle"></i></button></a>
                    </div>
                </li>
               <li>
                   <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/questions">Questions</a></li>
                        <li class="divider"></li>
                        <li><a href="/login"><i class="fa fa-facebook"></i>Start a Venture</a></li>
                    </ul>
                </div>
                </li>                
                <li>
                    <div data-toggle="tooltip" title="Start your venture here!" class="create-btn">
                        <a href="/login"><button type="button" class="btn btn-red-color"><i class="fa fa-plus-circle"></i>Create</button></a>
                    </div>
                </li>               
            {% endif %}
                </div>
        </div>
                
                <div class="navbar-links desktop-menu" >
                    <ul class="nav navbar-nav navbar-right">
                        {% if userLoggedIn %}
                        <li>
                            <div data-toggle="tooltip" title="Start your venture here!" class="create-btn">
                                <a href="/dashboard#/ventures"><button type="button" class="btn btn-red-color"><i class="fa fa-plus-circle"></i>Create</button></a>
                            </div>
                        </li>
                        <li>
                            <div class="profile-thumbnail-wrapper">
                                <a  href="/profile?user={{userID}}">
                                    <img class="profile-thumbnail" src="{{ user.profilePic }}" />
                                </a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-caret-down">
                                </i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/profile?user={{userID}}">Your Profile</a></li>
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                          <li>
                              <div data-toggle="tooltip" title="Start your venture here!" class="create-btn">
                                  <a href="/login"><button type="button" class="btn btn-red-color"><i class="fa fa-plus-circle"></i>Create</button></a>
                              </div>
                        </li>
                                <li>
                   <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/questions">Questions</a></li>
                        <li class="divider"></li>
                        <li><a href="/login"><span class="drop-down-create"><i class="fa fa-facebook"></i>Start a Venture</span></a></li>
                    </ul>
                </div>
                </li>  
                </li>  
                        {% endif %}
                                </ul>
                        </div>
                    </nav> 
        <!-- NavBar end -->
        {% block content %}{% endblock content %}
            
        <!-- Footer -->
            <hr size="2px" />
            <footer class="page-footer">
                <ul> 
                    <li>
                        <a href="#">Tour</a>
                    </li> 
                    <li>
                        <a href="#">Pricing</a>
                    </li> 
                    <li>
                        <a href="#">Apps</a>
                    </li>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">API</a>
                    </li> 
                    <li>
                        <a href="#">About</a>
                    </li> 
                    <li>
                        <a href="#">Help</a>
                    </li> 
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                </ul> 
                <p class="copyright-text"> © Copyright 2015, Work Desk, Inc. All rights reserved. </p>   
            </footer>
        {% block scripts %}
                <script src="mainBrowserScript.min.js"></script>
                <script src="/assets/scripts/moltin_1_0_0.js"></script>
        {% endblock scripts %}
    </body>
</html>