{% extends 'layout.html' %}

{% block title %} Log-In {% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="assets/stylesheets/css/masterStyle.css">
{% endblock head %}

{% block content %}
<section class="primary-banner">
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="hide-banner"><i class="fa fa-times-circle-o fa-3x"></i></div>         
                <div class="jumbotron-container">
                <h1>"You don't have to be great to start, but you have to start to be great."</h1>
                <h2>Play<span>ground</span> For Young Entrepreneurs</h2>
                    {% if userLoggedIn %}
                        <p><a class="btn btn-red-color" href="#" role="button">START YOUR VENTURE - FREE!</a></p>                        
                    {% else %}
                        <p><a href="/auth/facebook/"><img src="assets/images/login_with_facebook.png" /></a></p>
                    {% endif %}
                </div>
            </div>
        </div>
</section>
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">            
            </div> 
            <div class="col-md-6">
                <div class="well logIn-form">
                <h1>Log in to <span>Work Desk</span></h1>
                    <form>
                      <!--<div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-success">Log-In</button>-->
                        <div class="form-group">
                            <hr />
                        <h3>Do you want to sign-in with your Facebook account?</h3>
                            <p><a class="btn btn-lg btn-success" href="/auth/facebook/">Log in with Facebook</a></p>
                      </div>
                    </form>
                </div>
            </div> 
            <div class="col-md-3">
            </div> 
        </div>    
    </div>
</section>
    
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="loginScript.min.js"></script>
{% endblock scripts %}
