{% extends 'layout.html' %}

{% block title %}{% parent %} - {{product.title}}{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="assets/stylesheets/css/masterStyle.css">
{% endblock head %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="single-product-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-push-1 col-md-4">
                            <div class="single-product-header">
                                <h1>{{product.title}}</h1>
                            </div>
                            <div class="product-image-carousel">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <!--<ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>-->

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    {% if productImages[0]%}
                                    <div class="item active">
                                      <img src={{productImages[0]}} width="400px" height="400px">
                                    </div>
                                     {% endif %}
                                    {% if productImages[1]%}
                                    <div class="item">
                                      <img src={{productImages[1]}} width="400px" height="400px">
                                    </div>
                                     {% endif %}
                                    {% if productImages[2]%}
                                    <div class="item">
                                      <img src={{productImages[2]}} width="400px" height="400px">
                                    </div>
                                     {% endif %}
                                    {% if productImages[3]%}
                                    <div class="item">
                                      <img src={{productImages[3]}} width="400px" height="400px">
                                    </div>
                                     {% endif %}
                                    {% if productImages[4]%}
                                    <div class="item">
                                      <img src={{productImages[4]}} width="400px" height="400px">
                                    </div>
                                     {% endif %}
                                    {% if productImages[5]%}
                                    <div class="item">
                                      <img src={{productImages[5]}} width="400px" height="400px">
                                    </div>
                                     {% endif %}
                                    
                                </div><!-- Controls -->
                                    {% if productImages[1]%}
                                <div class="carousel-buttons">
                                    <a class="carousel-left-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <i class="fa fa-angle-left fa-4x"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-right-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <i class="fa fa-angle-right fa-4x"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="single-product-footer">
                                <h2>A product of <span>{{product.brand.data.description}}</span></h2>
                            </div>
                        </div>
                        <div class="col-md-push-3 col-md-4">
                            <div class="single-product-description">
                                <p>{{product.description}}</p>
                                <p>({{product.price.value}})</p>
                            </div>
                            <div class="produt-buy-button">
                                <button type="button" class="btn btn-red-color"><span>Get it now!</span><i class="fa fa-chevron-circle-right fa-2x"></i></button>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>      
        </div>    
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
