{% extends 'layout.html' %}

{% block title %}{% parent %} - Dashboard{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="assets/stylesheets/css/masterStyle.css">
{% endblock head %}

{% block content %}

<section class="user-info-sidebar">
    <div class="container-fluid"> <!-- Entire sidebar -->
        <div class="row">
            <div class="col-md-12">
                <div class="header"><!-- Image and user's name -->
            <img src={{profileOwner.highResPic}} width="370px" />
                    {% if profileOwner.username %}
                    <div class="header-text">
                        <h2>Welcome to</h2>
                        <h2>{{profileOwner.username}}'s Shop</h2>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="user-details">
            <div class="detail-group bio-container"><!-- Biography -->
                {% if profileOwner.userDescription %}
                <h4>Biography:</h4>
                <p>{{profileOwner.userDescription}}</p>
                {% endif %}

            </div>
            <div class="detail-group school-container"><!-- School Name -->
                {% if profileOwner.userSchool.schoolName %}
                <h4>School:</h4>
                <div class="dynamic-school-name {{ profileOwner.userSchool.shortName }}"><!-- &:before to add school image -->
                    <h5 class="school-name">{{profileOwner.userSchool.schoolName}}</h5>
                </div>
                {% endif %}
            </div> 
            <div class="detail-group social-links-container"><!-- social-links -->
                {% if profileOwner.socialLinks.linkedin %}
                <div class="linkedin-wrapper icon-container">
                    <a href="{{profileOwner.socialLinks.linkedin}}" target="_blank">
                        <i class="fa fa-linkedin fa-2x" ></i>
                    </a>
                </div>
                {% endif %}
                {% if profileOwner.socialLinks.behance %}
                <div class="behance-wrapper icon-container">
                    <a href="{{profileOwner.socialLinks.behance}}" target="_blank">
                        <i class="fa fa-behance fa-2x"></i>
                    </a>
                </div>
                {% endif %}
                {% if profileOwner.socialLinks.portfolio %}
                <div class="website-wrapper icon-container">
                    <a href="{{profileOwner.socialLinks.portfolio}}" target="_blank">
                       <i class="fa fa-info fa-2x"></i>
                    </a>
                </div>
                {% endif %}
                {% if profileOwner.userEmail %}
                <div class="email-wrapper icon-container">
                    <a href="mailto:{{profileOwner.userEmail}}?subject=Work Desk,Inc." target="_blank">
                       <i class="fa fa-envelope-o fa-2x"></i>
                    </a>
                </div>
                {% endif %}
            </div> 
        </div>
            </div>
        </div>
    </div>
</section>
<section id="userProductsProfileView" data-brandId={{profileOwnerUserID}}>
    <!-- User reactjs components to render a product list.-->
    
</section>
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="/reactComponentsJS-profileView/appBrowser.min.js" async="async"></script>
{% endblock scripts %}
