{% extends 'layout.html' %}

{% block title %}{% parent %} - Shop{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="assets/stylesheets/css/masterStyle.css">
{% endblock head %}

{% block content %}
{% parent %}
<div>
    <section class="primary-banner">
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="hide-banner"><i class="fa fa-times-circle-o fa-3x"></i></div>         
                <div class="jumbotron-container">
                <h1>"Life is a reflection of a choice you once made. If you want different results, make different choices."</h1>

                <h2>Play<span>ground</span> For Young Entrepreneurs</h2>
                    {% if userLoggedIn %}
                        <p><a class="btn btn-red-color" href="#" role="button">START YOUR VENTURE - FREE!</a></p>                        
                    {% else %}
                        <p><a class="btn btn-red-color" href="/auth/facebook/" role="button">GET STARTED - RIGHT HERE!</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
    {{ pageName }}
    
    {% if userLoggedIn %}
    {% else %}
    <!--Some other promotion-->
    {% endif %}

    <!-- Hide Secondary Navbar for later 
    <section class="secondary-navbar">
        <div class="container">
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="#">Trending</a></li>
                <li role="presentation"><a href="#">New</a></li>
                <li role="presentation"><a href="#">Most Popular</a></li>
            </ul>
        </div>
    </section> -->
    
     <section >
        <div></div>
    </section>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
