<section class="dashboard-header">
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="header-text">
                <img src="/assets/images/dashboard-logo.png" />
                <h2>Dashboard - Ventures</h2>
            </div>
            <div class="dashboard-navbar">
                <ul class="nav nav-pills">
                    <li><a href="#/">Profile</a></li>
                    <li class="active"><a href="#/ventures">Ventures</a></li>
                    <li><a href="#/account">Account</a></li>
                </ul>        
            </div>
        </div>
    </div>
</section>
<section class="primary-dashboard-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <form name="addProductForm" ng-submit="submitHandleProductForm(addProductForm.$valid, formSelection)" class="add-product-form" novalidate>
                    <div class="form-messages">
                        <p ng-show="success" class="bg-success">{[{ successMessage }]}</p>
                        <p ng-show="error" class="bg-danger">{[{ errorMessage }]}</p>
                    </div>                    
                    <div class="form-group">
                        <i class="fa fa-pencil-square fa-2x custom-font-awesome"></i>
                        <select class="form-select" id="formSelection" ng-init="formSelection = formSelection || formList[0]" ng-model="formSelection" ng-options="form as form.name for form in formList" ng-change="onFormChange(formSelection)"></select>
                        <h3 class="form-name">a venture</h3>
                  </div>
                    <div class="form-group" ng-show="formSelection.id == 2">
                      <label for="selectVenture">Select a Venture: </label>
                      <select class="select-venture-dropdown" ng-change="onProductChange(selectVenture)" id="selectVenture" ng-init="selectVenture = selectVenture || ventureList[0]" ng-model="selectVenture" ng-options="venture as venture.name for venture in ventureList">
                          <option value='' disabled>- Please Choose -</option>  
                        </select>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : addProductForm.productTitle.$invalid && submitted }">
                        <label for="productTitle">Title</label>
                        <input type="text" class="form-control" name="productTitle" placeholder="I will do something I am really good at..." ng-model="productTitle" ng-minlength="15" ng-maxlength="80" required>
                        <p ng-show="addProductForm.productTitle.$invalid  && submitted" class="help-block">Title is required.</p>
                        <p ng-show="addProductForm.productTitle.$error.minlength  && submitted" class="help-block">Title is too short.</p>
                        <p ng-show="addProductForm.productTitle.$error.maxlength  && submitted" class="help-block">Title is too long.</p>
                  </div>
                    
                    <!-- generate a field from brand -->
                  <div class="form-group" ng-class="{ 'has-error' : addProductForm.productPrice.$invalid && submitted }">
                      <label for="price">Price</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-usd"></i>
                          </span>
                          <input type="number" class="form-control" name="productPrice" placeholder="How much will your awesomeness cost?" ng-model="productPrice"  min="0" max="50" required>
                            <p ng-show="addProductForm.productPrice.$error.required  && submitted" class="help-block">Enter a valid price.</p>
                            <p ng-show="addProductForm.productPrice.$error.number  && submitted" class="help-block">Price range is $0 - $50. Please try again.</p>                      </div>
                  </div>
                    <div class="form-group" ng-class="{ 'has-error' : addProductForm.stockLevel.$invalid && submitted }">
                      <label for="stockLevel">Stock Level</label>
                      <input type="number" class="form-control" name="stockLevel" placeholder="How many products can you create effeciently?" ng-model="stockLevel"  min="0" max="50" required>
                      <p ng-show="addProductForm.stockLevel.$error.number  && submitted" class="help-block">Enter a valid stock number.</p>
                      <p ng-show="addProductForm.stockLevel.$error.required && submitted" class="help-block">Stock range is 0 - 50. Please try again.</p>
                    </div>
                    <div class="form-group">
                      <label for="productCategory">Select a category:</label>
                      <select class="form-control" id="productCategory" ng-init="categorySelected = categorySelected || categoryList[0]" ng-model="categorySelected" ng-options="category as category.name for category in categoryList"></select>
                  </div>
                    <div class="form-group" ng-class="{ 'has-error' : addProductForm.productDescription.$invalid && submitted }">
                      <label for="productDescription">Describe the product:</label>
                      <textarea class="form-control" name="productDescription" placeholder="Please describe your venture.." ng-model="productDescription" rows="3" ng-minlength="10" ng-maxlength="10000" required></textarea>
                        <p ng-show="addProductForm.productDescription.$invalid  && submitted" class="help-block">Description is required.</p>
                        <p ng-show="addProductForm.productDescription.$error.minlength  && submitted" class="help-block">Description is too short.</p>
                        <p ng-show="addProductForm.productDescription.$error.maxlength  && submitted" class="help-block">Description is too long.</p>
                  </div>
                  <button ng-show="formSelection.id == 1" type="submit" class="btn btn-lg btn-success">Born ready! Create my Venture</button>
                    <button ng-show="formSelection.id == 2" type="submit" class="btn btn-lg btn-success">Done editing. Save Changes!</button>
                </form>
            </div>
            <div class="col-xs-12 col-md-6">
                <form name="addImageForm" ng-submit="handleImageUpload()" class="add-image-form" novalidate>
                    <div class="form-messages">
                        <p ng-show="imageFormSuccess" class="bg-success">{[{ imageSuccessMessage }]}</p>
                        <p ng-show="imageFormError" class="bg-danger">{[{ imageErrorMessage }]}</p>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-picture-o fa-2x custom-font-awesome"></i>
                        <label for="selectVentureImageForm">Upload images for: </label>
                        <select class="select-venture-dropdown" id="selectVentureImageForm" ng-init="selectVentureImageForm = selectVentureImageForm || ventureList[0]" ng-model="selectVentureImageForm" ng-options="venture as venture.name for venture in ventureList">
                            <option value='' disabled>- Please Choose -</option>                        
                        </select>
                    </div>
                     <div class="form-group">
                         <label for="uploadProductImage">Upload Images</label>
                         <input type="file" id="uploadProductImage">
                         <p class="help-block">Images will resize to a width of 600px. <br /> A maximum of 4 images can be uploaded per venture.</p>
                         <p class="help-block status"></p>
                    </div>
                    <div class="form-group">
                        <div ng-repeat="images in ventureList">
                            <div class="row">
                                <h4 class="image-container-header">{[{images.name}]}:</h4>
                                <div ng-repeat= "image in images.imageList">
                                    <div class="col-xs-6 col-md-4">
                                        <div class="product-image">
                                                <img ng-src={[{image.url.http}]} width="100px" class="img-rounded single-product-image">
                                                <p>{[{image.name}]}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success">Upload Images</button>
                </form>
            </div>
        </div>
    </div>
</section>



















