<section class="dashboard-header">
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="header-text">
                <img src="/assets/images/dashboard-logo.png" />
                <h2>Dashboard - Profile</h2>
            </div>
            <div class="dashboard-navbar">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#/">Profile</a></li>
                    <li><a href="#/ventures">Ventures</a></li>
                    <li><a href="#/account">Account</a></li>
                </ul>        
            </div>
        </div>
    </div>
</section>
<section class="primary-dashboard-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xs-offset-1 col-sm-offset-3 col-md-offset-4 ">
                <form name="profileForm" ng-submit="submitProfileForm(profileForm.$valid)" class="profile-form" novalidate>
                    <div class="form-messages">
                        <p ng-show="success" class="bg-success">{[{ successMessage }]}</p>
                    <p ng-show="error" class="bg-danger">{[{ errorMessage }]}</p>
                    </div>                    
                    <div class="form-group">                        
                        <img src="{[{ fbImage }]}" class="img-circle">
                        <h3 class="user-fullname">{[{ fbFullName }]}</h3>
                  </div>
                    <div class="form-group" ng-class="{ 'has-error' : profileForm.userName.$invalid && submitted }">
                        <label for="userName">Display Name</label>
                        <input type="text" class="form-control" name="userName" placeholder="Name" ng-model="username" ng-minlength="4" ng-maxlength="24" required>
                        <p ng-show="profileForm.userName.$invalid  && submitted" class="help-block">Username is required.</p>
                        <p ng-show="profileForm.userName.$error.minlength  && submitted" class="help-block">Username is too short.</p>
                        <p ng-show="profileForm.userName.$error.maxlength  && submitted" class="help-block">Username is too long.</p>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error' : profileForm.userEmail.$invalid && submitted }">
                      <label for="userEmail">Email address</label>
                      <input type="email" class="form-control" name="userEmail" placeholder="Email" ng-model="userEmail" required>
                      <p ng-show="profileForm.userEmail.$invalid  && submitted" class="help-block">Enter a valid email.</p>
                  </div>
                  <div class="form-group">
                      <label for="userSchool">School:</label>
                      <select class="form-control" id="userSchool" ng-init="schoolSelected = schoolSelected || userSchools[0]" ng-model="schoolSelected" ng-options="school as school.name for school in userSchools"></select>
                  </div>
                    <div class="form-group" ng-class="{ 'has-error' : profileForm.userDescription.$invalid && submitted }">
                      <label for="userDescription">About Yourself:</label>
                      <textarea class="form-control" name="userDescription" placeholder="Tell the world something about you..." ng-model="userDescription" rows="3" ng-minlength="10" ng-maxlength="10000" required></textarea>
                        <p ng-show="profileForm.userDescription.$invalid  && submitted" class="help-block">Description is required.</p>
                        <p ng-show="profileForm.userDescription.$error.minlength  && submitted" class="help-block">Description is too short.</p>
                        <p ng-show="profileForm.userDescription.$error.maxlength  && submitted" class="help-block">Description is too long.</p>
                  </div>
                    
                    <div class="form-group" ng-class="{ 'has-error' : profileForm.linkedin.$invalid && submitted }">
                      <label for="linkedin">LinkedIn:</label>
                      <input type="url" class="form-control" name="linkedin" placeholder="Link to your Linkedin profile" ng-model="userLinkedin">
                      <p ng-show="profileForm.linkedin.$invalid  && submitted" class="help-block">Please enter a valid url. eg. https://ca.linkedin.com/</p>
                  </div>
                    
                <div class="form-group" ng-class="{ 'has-error' : profileForm.behance.$invalid && submitted }">
                      <label for="behance">Behance:</label>
                      <input type="url" class="form-control" name="behance" placeholder="Link to your Behance profile" ng-model="userBehance">
                      <p ng-show="profileForm.behance.$invalid  && submitted" class="help-block">Please enter a valid url. eg. http://www.mybehance.com</p>
                  </div>
                    
                    <div class="form-group" ng-class="{ 'has-error' : profileForm.portfolio.$invalid && submitted }">
                      <label for="portfolio">Portfolio:</label>
                      <input type="url" class="form-control" name="portfolio" placeholder="Link to your portfolio" ng-model="userPortfolio">
                      <p ng-show="profileForm.portfolio.$invalid  && submitted" class="help-block">Please enter a valid url. eg. http://www.myportfolio.com</p>
                  </div>
                  <button type="submit" class="btn btn-lg btn-success">Update Information</button>
                </form>
            </div>     
        </div>    
    </div>
</section>
