<section class="dashboard-header">
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="header-text">
                <img src="/assets/images/dashboard-logo.png" />
                <h2>Dashboard - Account</h2>
            </div>
            <div class="dashboard-navbar">
                <ul class="nav nav-pills">
                    <li><a href="#/">Profile</a></li>
                    <li><a href="#/ventures">Ventures</a></li>
                    <li class="active"><a href="#/account">Account</a></li>
                </ul>        
            </div>
        </div>
    </div>
</section>
<section class="primary-dashboard-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-md-4"></div>
            <div class="col-xs-8 col-md-4">
            </div>
            <div class="col-xs-2 col-md-4"></div>        
        </div>    
    </div>
</section>
{[{ name }]}
<p>Account Tab</p>
