// Master base file

// Variables

$darkgreen: #016E75;
$darkorange: #D96A25;
$lightmustard: #F1CA92;
$offwhite: #F2F2F2;
$lightorange: #F4A23C;
$defaultwhite: #fff;
$inactivegrey: #B3B3B3;
$activeblack: #4f4f4f;

// Media queries
$break-extraSmall: 500px;
$break-small: 720px;
$break-medium: 1050px;
$break-large: 1280px;

// Buttons

.btn-theme-color {
    color: #fff;
    background-color: $darkgreen;
    border-color: $darkgreen;
}

.btn-red-color {
    color: #fff;
    background-color: #C21A1A;
    border-color: #C21A1A;
}

.btn-orange-color {
    color: #fff;
    background-color: $darkorange;
    border-color:  $darkorange;
}