// Product/Venture form

// Profile Form

.primary-dashboard-view {
    .add-product-form, .add-image-form {
        font-family: 'Roboto Condensed', sans-serif;
        margin-top: 50px;
        max-width: 500px;
        background-color: $defaultwhite;
        padding: 40px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        
        .image-container-header {
            color: $inactivegrey;
            margin-top: 30px;
        }
        .help-block {
            margin-top: 15px;
        }
        
        label {
            margin-bottom: 10px;
        }
        .form-group {
            margin-bottom: 40px;
        }
        
        .form-name {
            display: inline-block;
            color: $activeblack;
            @media screen and (max-width: $break-extraSmall) {
                margin-left: 5px;
            }            
        }
        
        .form-select {
            font-size: 24px;
            border-radius: 5px;
            color: $darkgreen;
            &:hover {
                border-style: dashed;
            }
        }
        
        .custom-font-awesome {
            margin-right: 10px;
            vertical-align: sub;
        }
        
        .select-venture-dropdown {
            font-size: 18px;
            border-radius: 5px;   
            margin-left: 10px;
            color: $darkgreen;
        }
    }
}