// Dashboard Specific Styles

@import "dashboard-profile-form";
@import "dashboard-product-form";

.dashboard-header {
    .jumbotron {
        background-color: rgba(49, 136, 143, 0.9);
        margin-top: -20px;
        padding-bottom: 0px;
    }
    .header-text {
        position: relative;
        left: 20%;
        width: 450px;
        margin-bottom: 30px;
        @media screen and (max-width: $break-small) {
            left: 15%;
        }
        @media screen and (max-width: $break-extraSmall) {
            left: 0;
        }
        h2 {
            display: inline-block;
            color: $defaultwhite;
            font-size: 32px;
            font-family: 'Quicksand', sans-serif; 
            &:before {
                content: "";
                border-left: 2px solid $defaultwhite;
                margin-right: 5px;
                @media screen and (max-width: $break-extraSmall) {
                    display: none;
                }
            }
        }
        img {
            width: 45px;
            margin-bottom: 15px;
            @media screen and (max-width: $break-extraSmall) {
                display: none;
            }
        }
        
        
    }
}
.dashboard-navbar {
    position: relative;
    max-width: 400px;
    left: 20%;
    @media screen and (max-width: $break-small) {
        left: 15%;
    }
    @media screen and (max-width: $break-extraSmall) {
        left: 5%;
    }
    
    li a{
        color: white;
        
    }
    .nav-pills>li.active>a {
        color: $activeblack;
        border-radius: 4px 4px 0px 0px;
        background-color: $offwhite;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        color: $inactivegrey;
        border-radius: 4px 4px 0px 0px;
        background-color: $offwhite;
    }
}