// Profile Form

.primary-dashboard-view {
    .profile-form {
        font-family: 'Roboto Condensed', sans-serif;
        margin-top: 50px;
        max-width: 500px;
        background-color: $defaultwhite;
        padding: 40px;
        border-radius: 5px;
        
        label {
            margin-bottom: 10px;
        }
        .form-group {
            margin-bottom: 40px;
        }
        
        .user-fullname {
            display: inline-block;
            margin-left: 20px;
            @media screen and (max-width: $break-extraSmall) {
                margin-left: 5px;
            }            
        }
    }
}