// Style for page footer

.page-footer {
    font-size: 1.1em;
    margin: 4em 1em;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: $inactivegrey;
    clear: both;
    
    ul {
        list-style: none;
        margin: .5em 0 0;
        padding: 0;
        
        li {
            display: inline-block;
            margin: 0.5em .4em;
            text-decoration: underline;
            a {
                color: $inactivegrey;
            }
            
        }
    }
    
    .copyright-text {
        margin: .5em 0;
    }
    
}