// All styles for the login page

.logIn-form {
    background-color: $defaultwhite;
    border-radius: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    
    h1 {        
        margin-bottom: 20px;
    }
    
    span {
        color: $darkgreen;
    }
    
    h3 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}