// Primary Navbar specific styles
.navbar {
    background-color: $defaultwhite;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-header {
    font-weight: bold;
    @media screen and (max-width: $break-medium) {
        max-width: 400px;
        float: left;
    }
    .navbar-brand {
        font-size: 20px;
        margin-right: 15px;
         @media screen and (max-width: $break-medium) {
             margin-right: 5px;
         }
        span.inactive {
            padding-left: 5px;
            @media screen and (max-width: $break-small) {
                    display: none;
                } 
        }
        span.active {
            padding-left: 5px;
            @media screen and (max-width: $break-small) {
                    display: none;
                }             
        }
    }
}

.active {
    color: $activeblack;
}

.inactive {
    color: $inactivegrey;
    &:hover {
            color: $activeblack;
        }
}

.profile-thumbnail-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
        img { 
            box-shadow: 0px 0px 10px $inactivegrey;
        }
    }
    .profile-thumbnail {
        max-height: 30px;
        max-width: 30px;
    }
}

.create-btn {
    margin: 8px;
    @media screen and (max-width: 768px) {
        display: none;
    }
    i {
        padding-right: 5px;
    }
}


.navbar-brand-logo {
    float: left;
    height: 55px;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    left: 15%;
    @media screen and (max-width: $break-medium) {
         left: 5%;
     }
    @media screen and (max-width: $break-small) {
         left: 2%;
     } 
}
.drop-down-create {
    i {
        padding-right: 5px;
    }
}
// less than 770px, hide form elements
.desktop-menu {
    .btn-group {
        margin-top: 8px;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

//mobile menu
.mobile-menu {
    display: none;
    @media screen and (max-width: 768px) {
        display: inline-block;
        float: right;
        margin-top: 7px;
    }
    
    .dropdown {
        position: relative;
        top: 15px;
        margin-left: 15px;
    }
    .dropdown-menu li {
        margin-left: 10px;
    }
    .nav {
        .fa-facebook {
            padding-right: 3px;
        }
        li a{
            padding: 0px;
        }
    }
    .dropdown-menu {
        right: 0;
        left: auto;
    }
    .btn-mobile-join {
        margin-left: 5px;
        a {
            color: white;
        }
        i {
            margin-right: 5px;
        }
        
    }
    .mobile-create-btn {
        margin: 8px;
    }
    
    .mobile-logged-out-create-btn {
        margin-right: 5px;
    }
}


.drop-down-create {
    color: $darkgreen;
    font-weight: bold;
}
// Secondary NavBar specific styles

.secondary-navbar{
    .nav-pills {
        @media screen and (max-width: $break-small) {
            margin-left: 15%;
        }
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color: $darkgreen;
    }
}













