// Primary website banner specific styles

.primary-banner {
    .jumbotron {
        background-repeat: no-repeat;
        background-position: center 59%;
        background-size: cover; 
        background-color: rgba(78, 151, 156, 0.5);
        
        .hide-banner {
            cursor: pointer;
            color: white;
            position: absolute;
            right: 3%;
            top: 10%;
            @media screen and (max-width: $break-small) {
                right: 5%;
             }
        }
        
        .jumbotron-container {
            text-align: center;
            h1 {
                color: white;
                font-family: 'Roboto Condensed', sans-serif;
                letter-spacing: 5px;
            }
            h2 {
                color: $offwhite;
                font-family: 'Quicksand', sans-serif;
                span {
                    color: $lightmustard;
                }
            }
            p {
                font-family:  'Quicksand', sans-serif;  
                margin-top: 30px;
            }
            
        }
    } 
}