// Styles specific to a user's profile

.user-info-sidebar {
    float: left;
    width: 400px;
    background-color: $defaultwhite;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    
    @media screen and (max-width: $break-medium) {
        width: 300px;
    }
    
    .header {
        margin: 15px 0 10px 0;
        @media screen and (max-width: $break-medium) {
            img {
                width: 270px;
            }
        }
        .header-text {
            margin: 30px 0 20px 0;
            text-align: center;
            h2:nth-child(2) {
                font-weight: bold;
            }
            
        }
    }
    
    .detail-group {
        margin: 20px 0 40px 0;
        h4 {
            color: $inactivegrey;
            margin-bottom: 12px;
        }
        
        .school-name {
            position: relative;
            left: 10px;
        }
    }
    
    .social-links-container {
        text-align: center;
        clear: both;
        margin-bottom: 30px;
        a {
            color: $inactivegrey;
            &:hover {
                color: $activeblack;
            }
        }
        .icon-container {
            display: inline-block;
            margin: 0 20px 0 20px;
        }
        
        
    }
    
    .school-container {
        margin-bottom: 80px;
    }
}

.UBC {
    &:before {
        content: url('../../images/school-logos/ubc.png');
        float: left;
    }
}

.ECU {
    &:before {
        content: url('../../images/school-logos/ecu.jpg');
        float: left;
    }
}

.SFU {
    &:before {
        content: url('../../images/school-logos/sfu.png');
        float: left;
    }
}

#userProductsProfileView {
    @media screen and (max-width: $break-small) {
        .product-thumbnail:hover .overlay-text {
            left: 10%;
        }
    }
    
    @media screen and (max-width: $break-medium) {
        .product-thumbnail:hover .overlay-text {
            left: -3% !important;
        }
    }
}