// All individual product view specific styles go here

.carousel-left-control {
    float: left;
    color: $inactivegrey;
    &:hover {
        color: $activeblack;
    }
}

.carousel-right-control {
    float: right;    
    color: $inactivegrey;
    &:hover {
        color: $activeblack;
    }
}

.single-product-wrapper {
    background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(79,79,79,0.1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(255,255,255,1), rgba(79,79,79,0.1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(255,255,255,1), rgba(79,79,79,0.1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(79,79,79,0.1)); /* Standard syntax (must be last) */
    border-radius: 10px;
    
    .single-product-header {
        margin: 60px 10px 60px 10px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        color: $activeblack;
    }
    
    .carousel-buttons {
        position: relative;
        bottom: 170px;
        @media screen and (max-width: $break-extraSmall) {
            bottom: 120px;
        }
    }
    .item {
        img {
            margin: auto;
        }
    }
    
    .product-image-carousel {
        margin: 100px 20px 100px 20px;
    }
    
    .single-product-footer {
        margin: 60px 10px 60px 10px;
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
        
        span {
            font-weight: 600;
            font-family: 'Quicksand', sans-serif;
        }
    }
    
    .single-product-description {
        margin-top: 25%;
        p {
            text-align: center;
            line-height: 3;
            font-size: 18px;
            letter-spacing: 2px;
            font-family: 'Open Sans Condensed', sans-serif;       
        }
        p:nth-child(2) {
            color: $inactivegrey;
        }
    }
    
    .produt-buy-button {
        margin: 60px 10px 60px 10px;
        text-align: center;
        .btn {
            width: 300px;
        }
        span {
            padding: 5px;
            text-align: center;
            letter-spacing: 2px;
            vertical-align: inherit;
        }
        i {
            margin-left: 10px;
            vertical-align: inherit;
        }
    }
}