// Style the primary product list here
.product-thumbnail {
    box-shadow: 2px 2px 5px $inactivegrey;
    &:hover {
        &:before {
            content: '';
            display: block;
            height: 92%;
            width: 92%;
            position: absolute;
            top: 1%;
            left: 4%;
            background-color: rgba(255, 255, 255, 0.90);
            border-radius: 5px;

            @media screen and (max-width: 750px) {
                height: 96%;
                width: 94%;
                top: 2%;
                left: 3%;
             }

            @media screen and (max-width: $break-extraSmall) {
                width: 93%;
             }
        }
        
        .overlay-footer {
            opacity: 1;
            height: auto;
            overflow: visible;
            z-index: 9999;
        }
        
        .overlay-text {
            opacity: 1;
            height: auto;
            left: 24%;
            overflow: visible;
            @media screen and (max-width: 1360px) {
                left: 14% !important;
             }
            
            @media screen and (max-width: 1190px) {
                left: 8% !important;
             }
            
            @media screen and (max-width: 985px) {
                left: 20% !important;
             }
            
            @media screen and (max-width: 450px) {
                left: 15% !important;
             }
        }
    }
    
    .overlay-footer {
        position: absolute;
        bottom: 7%;
        margin-left: 10px;
        transition: opacity 1s ease-out;
        -webkit-transition: opacity 1s ease-out; /* Safari */
        opacity: 0; 
        height: 0;
        overflow: hidden;
        font-family: 'Open Sans Condensed', sans-serif;
        color: $lightmustard;
        .overlay-rating {
            font-size: 20px;
            color: rgb(9, 9, 9);
            background-color: #EDEDED;
            padding: 9px;
            border-radius: 15px;
        }
        
    }
    .overlay-text {
        transition: opacity 1s ease-out;
        opacity: 0; 
        height: 0;
        overflow: hidden;
        -webkit-transition: opacity 1s ease-out; /* Safari */
        display: block;
        position: absolute;
        top: 20%;
        text-align: center;
        .overlay-title {
            width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Quicksand', sans-serif;
            font-weight: 600;
            color: black;
        }
        .overlay-owner {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 16px;
            span:nth-child(1) {
                color: $inactivegrey;
            }
            span:nth-child(2) {
                color: $activeblack;
                font-weight: 600;
            }
        }
        
        i {
            color: $darkgreen;
            cursor: pointer;
        }
    }
    
    img {
        height: 250px;
    } 
    
    .thumbnail-header {
        margin-right: 5px;
        margin-top: 2px;
        p {
            text-align: right;
            color: $darkgreen;
            font-size: 22px;
            font-family: 'Quicksand', sans-serif;
        }
    }
}

