// Search module specific styling

.search-module {
    .category-dropdown {
        margin-bottom: 20px;
        max-width: 250px;
        
        h4 {
            display: inline-block;
            margin-right: 10px;
        }
    }
    
    .well {
        padding: 15px;
    }
    
}