// master stylesheet

// Imports
@import "base";
@import "google-fonts";
@import "navbar";
@import "primaryBanner";
@import "searchmodule";
@import "productList";
@import "loginPage";
@import "footer";
@import "dashboard";
@import "angularjs";
@import "profileView";
@import "productView";

html {
    overflow: auto;
}
body {
    background-color: $offwhite;
    overflow:auto;
}

.clearfix:after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

.primary-website-section {
    margin-top: 20px;    
}



